{% set size = __SELF__.property('size') ? __SELF__.property('size') : 1300 %}
{% set size_small = __SELF__.property('size-small') ? __SELF__.property('size-small') : (size/2) %}
{% set classes = __SELF__.property('class') ? __SELF__.property('class') : 'uk-background-cover uk-height-large' %}
{% set attributes = __SELF__.property('attributes') ? __SELF__.property('attributes') : '' %}
{% set defaultImage = __SELF__.property('default') ? __SELF__.property('default') : '/dasrotequadrat/bettercontenteditor/assets/images/placeholder.jpg' %}
{% set background = __SELF__.getImage(__SELF__.property('item'), defaultImage) %}
{% set leaveOpen = __SELF__.property('leaveOpen') == 1 ? true : false %}

{% if user %}

    {% if renderCountImage == 1 %}
    {% put scripts %}
    <script type="text/javascript" src="/plugins/dasrotequadrat/bettercontenteditor/assets/imageuploader.js"></script>
    {% endput %}
    {% endif %}

    {% if __SELF__.property('tag') == 'img' %}
    <div id="{{__SELF__.property('item')}}" class="uk-position-relative js-upload uk-position-relative uk-text-center uses-image">
        <img src="{{ background | resize(size) }}">
        <div class="uk-position-cover js-uploader">
            <div class="uk-position-center">
                <div class="uk-text-center">
                    <span uk-icon="icon: cloud-upload"></span>
                    <span class="uk-text-middle">Hier ein neues Bild hinziehen oder</span>
                    <div uk-form-custom>
                        <input type="file" multiple>
                        <span class="uk-link">eines auswählen</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div id="{{__SELF__.property('item')}}" {{attributes}} class="js-upload uk-position-relative uk-text-center {{classes}}" style="background-image: url({{ background | resize(size) }})">
        <div class="uk-position-cover js-uploader">
            <div class="uk-position-center">
                <div class="uk-text-center">
                    <span uk-icon="icon: cloud-upload"></span>
                    <span class="uk-text-middle">Hier ein neues Bild hinziehen oder</span>
                    <div uk-form-custom>
                        <input type="file" multiple>
                        <span class="uk-link">eines auswählen</span>
                    </div>
                </div>
            </div>
        </div>
        {% if not leaveOpen %}
    </div>
        {% endif %}
    {% endif %}

{% else %}
<{% if __SELF__.property('tag') %}{{__SELF__.property('tag')}}{% else %}div{% endif %}
    class="{{classes}}"
     {{attributes}}
     data-src="{{ background | resize(size_small) }}"
     data-srcset="{{ background | resize(size_small) }} 650w,
                  {{ background | resize(size) }} 1300w"
     data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
    {% if not leaveOpen and __SELF__.property('tag') != 'img' %}
</{% if __SELF__.property('tag') %}{{__SELF__.property('tag')}}{% else %}div{% endif %}>
    {% endif %}
{% endif %}
